<!-- PEOPLE WHO'VE CONTRIBUTED


-user(these be links to the users show page)


-user
                            these appear alphabetically



-user



-user -->



<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Users Index<h1>
  </body>
</html>
