<!-- USERS NAME

-users pic -date


                               these will appear chronoglocially mmmkay





-users pic -date








-users pic -date

ABOOT THE USER (if i get here)


POST A COMMENT TO THEM (if i get here)

EDIT INFO/POSTS(if you der user) -->


<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Users show</h1>
  </body>
</html>
