<!-- input edited name if so desired




input edited info on pic











DELETE BUTTON HURRRRR -->

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Post Edit</h1>
  </body>
</html>
