<!-- IMAGE TITLE
users name(this users show page on click)

IMAGE HURRRRRR BRUH





















users text/description about image

date submitted                             (like if i get to it)

EDIT(for the user only) -->




<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1><%=post.title%></h1>
  </body>
</html>
