<!-- This is my main page while also the index for the pictures. Unless this causes issues i will change this but there is no point in having the images all display and clickable and interactive just to have another page do the same thing.

for non-members and members
BLOG NAME/SITE NAME

non-members and members
SUPER AWESOME INSPIRATIONAL QUOTE/MANY OOOOHS MUCH AHHHHS

non-members/members                             non-members and members
register here link/new post                     log in link

non-members and members
pictures will display here -vvvvvvvvvvvvvv

pics in grid pattern in order from newest to oldest. newest on top. (i might change this to most popular on top if i get there).

non-members and members
PICTURE                                       PICTURE
non-members                                   non-members
click and show user who submitted and the blurb they input about the photo
members                                       members
click and redirect to the show page for the pictures



members
all users link -->

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/home.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <title></title>
  </head>
  <body>
    <header>
      <h1>Photo Drop</h1>
      <h2>A place for photographers and enthusiasts to share and colab</h2>
    </header>
    <nav>
      <ul>
        <li>
          <a class="btn btn-primary" href="/users/new">Register!</a>
        </li>
        <li>
          <a class="btn btn-primary" href="/sessions/new">Log In!</a>
        </li>
        <% if(currentUser) { %>
        <li>
          <a class="btn btn-primary" href="/posts/new">New Post!</a>
        </li>
        <li>
          <a class="btn btn-primary" href="/users">All Contributers</a>
        </li>
        <li>
          <a class="btn btn-primary" href="/posts">All Submissions</a>
        </li>
          <li>
            <form action="/sessions?_method=DELETE" method="POST">
              <input type="submit" value="Logout"/>
            </form>
          </li>
        <% } %>
      </ul>
    </nav>
    <main>
      <% for(var i = 0; i < posts.length; i++) { %>
        <img src="<%=posts[i].img%>"/>
      <% } %>

  </body>
</html>
