body {
  text-align: center;
}
ul {
  list-style-type: none;
}
li{
  display: inline-block;
  margin: 0 2em 0 2em;
}
img {
  height: 35em;
  width: 29%;
  display: inline-block;
}
header h1 {
  font-size: 50px;
  font-family: 'Kaushan Script', cursive;
}
main h2 {
  font-family: 'Shadows Into Light', cursive;
}
.body {
  background: #BBBBBB;
}
