li{
  display: inline-block;
  margin: 0 2em 0 2em;
}
body {
  text-align: center;
}
ul {
  list-style-type: none;
}
li {
  display: inline-block;
}
.div {
  display: inline;
}
img {
  width: 100%;
  margin-bottom: 0.5em;
  box-shadow: 10px 10px 5px #888888;
}
header h1 {
  font-size: 50px;
  font-family: 'Kaushan Script', cursive;
}
main h2 {
  font-family: 'Shadows Into Light', cursive;
}
.body {
  background: #CCCCCC;
}
