.body {
  text-align: center;
  background-color: #CCCCCC;
}
li {
  list-style: none;
}
.header h1{
  font-family: 'Kaushan Script', cursive;
  font-size: 50px;
  color: #333333;
}
a {
  margin-right: 2em;
}
ul {
  margin-top: -1em;
}
.form {
  width: 25%;
  margin: 2em 0 0 32em;
}
.header{
  background: url(http://icons.iconarchive.com/icons/double-j-design/origami-colored-pencil/256/blue-camera-icon.png);
  background-repeat: no-repeat;
  background-position: top;
  height: 20em;
}
