.body {
  text-align: center;
  background: url(http://icons.iconarchive.com/icons/double-j-design/origami-colored-pencil/256/blue-camera-icon.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #CCCCCC;
}
li {
  list-style: none;
}
header h1{
  font-family: 'Kaushan Script', cursive;
  font-size: 50px;
  color: #333333;
}
a {
  margin-right: 1em;
}
header {
  margin-bottom: 8em;
}
ul {
  margin-top: -1em;
}
