<!-- This is my main page while also the index for the pictures. Unless this causes issues i will change this but there is no point in having the images all display and clickable and interactive just to have another page do the same thing.

for non-members and members
BLOG NAME/SITE NAME

non-members and members
SUPER AWESOME INSPIRATIONAL QUOTE/MANY OOOOHS MUCH AHHHHS

non-members/members                             non-members and members
register here link/new post                     log in link

non-members and members
pictures will display here -vvvvvvvvvvvvvv

pics in grid pattern in order from newest to oldest. newest on top. (i might change this to most popular on top if i get there).

non-members and members
PICTURE                                       PICTURE
non-members                                   non-members
click and show user who submitted and the blurb they input about the photo
members                                       members
click and redirect to the show page for the pictures



members
all users link -->

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header>
      <h1>Blog Name(not sure yet)</h1>
      <h2>"Super inspiring quote that invokes artsy, smartsy, nostalgic feels"</h2>
    </header>
    <nav>
      <ul>
        <li>
          <a href="/users/new">Register!</a>
        </li>
        <li>
          <a href="#">Log In!</a>
        </li>
        <li>
          <a href="/posts/new">New Post!</a>
      </ul>
    </nav>

  </body>
</html>
