<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/news.css"
    <title></title>
  </head>
  <body>
    <header>
      <h1>Sign In</h1>
      <nav>
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
        <form action="/sessions" method="POST">
            <input type="text" name="username" placeholder="username"/>
            <input type="password" name="password" />
            <input type="submit" value="Log In" />
        </form>
    </main>
  </body>
</html>
