<!-- edit name






edit about me (if.................) -->


<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/editu.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet">
    <title></title>
  </head>
  <body>
    <header>
      <h1>Edit your info</h1>
      <nav>
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/users">Submitters Index</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <h2><%=user.username%>'s Info</h2>
      <form action="/users/<%=user._id%>?_method=PUT" method="POST">
              <input type="text" name="username" value="<%=user.username%>"/></br>
              <input type="password" name="password"/></br>
              <input type="submit" value="Update User"/>
      </form>
    </main>
  </body>
</html>
