<!-- PEOPLE WHO'VE CONTRIBUTED


-user(these be links to the users show page)


-user
                            these appear alphabetically



-user



-user -->



<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/indexu.css">
    <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet">
    <title></title>
  </head>
  <body>
    <header>
      <h1>Meet the Talented Photographers</h1>
      <nav>
        <ul>
          <li class ="btn">
            <a href="/">Home</a>
          </li>
          <li class ="btn">
            <a href="/users/new">Add Your Info!</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <ul>
        <% for(var i = 0; i < users.length; i++) { %>
          <li class="you">
            <a href="/users/<%=users[i]._id%>"><%=users[i].username%></a>
          </li>
        <% } %>
      </ul>
    </main>
  </body>
</html>
