<!-- USERS NAME

-users pic -date


                               these will appear chronoglocially mmmkay





-users pic -date








-users pic -date

ABOOT THE USER (if i get here)


POST A COMMENT TO THEM (if i get here)

EDIT INFO/POSTS(if you der user) -->


<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header>
      <h1><%=user.username%></h1>
      <nav>
        <ul>
          <li>
            <a href="/">Blog Home</a>
          </li>
          <li>
            <a href="/users">Back to Submitter Index</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <section>
        <h2><%=user.username%>'s picture submissions will appear here in descending order by date.</h2>
      </section>
      <section>
        <a href="/users/<%=user._id%>/edit">Edit My Info</a>
      </section>
      <section>
        <form action="/users/<%=user._id%>?_method=DELETE" method="post">
  					<input type="submit" value="Delete My Info"/>
        </form>
      </section>
    </main>

  </body>
</html>
