<!-- input name                     input date





upload image          image title





text area (for image info) -->



<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/newp.css"
    <title></title>
  </head>
  <body>
    <header>
      <h1>Create New Post</h1>
      <nav>
        <ul>
          <li>
            <a href="/">Back</a>
          </li>
        </ul>
      </nav>
    </header>
    <form action="/posts/" method="POST">
                <select name="userId">
                    <% for(var i = 0; i < users.length; i++) { %>
                        <option value="<%=users[i]._id%>"><%=users[i].username%></option>
                    <% } %>
                </select><br/>
                <input type="text" name="title" placeholder="title"/></br>
                <input type="text" name="img" placeholder="img"/></br>
                <input type="submit" value="Create Post"/>
            </form>
  </body>
</html>
